:host ::ng-deep th,td{
    width: 20%;
    margin-left: 50%;

    /* margin-left: 50%; */
    /* text-align: center;
    padding-left: 20%; */
}
ul,li{
    margin-left: 15%;
}

:host ::ng-deep  {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}
.mark{
    background-color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::ng-deep .p-card {
    background-color: whitesmoke;
    height: 70px;
    border-radius: 1px;
}
.mark{
    padding: 20px 20px;
}
.options{
    display: flex;
    
}

.widget-content {height: 143px;}
::ng-deep .p-calendar .p-inputtext{
    width: 165px !important;
    font-size: 0.875rem;
    padding-left: 1.8rem;
   height: 41px;
}
::ng-deep .p-button.p-button-icon-only{
 height: 41px;
 background:  rgb(219, 218, 218);
}
::ng-deep .p-card .p-card-content{
    padding: 20px 20px;
}